@import url(estilos2.css);
main{
    background-color:  rgb(96, 150, 204);
}

img {
    width: 24%; 
    height: 40%; 
    display: flex; 
    padding: 1%;
    border-radius: 8px;

}

.titulo-seccion {
    font-size: 30px;
    font-family: "Space Grotesk", sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 2vh;
    padding-bottom: 0vh;
    display: flex;
    justify-content: center;
    margin: 0%;
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    position: relative;
    margin-bottom: 80px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
