@import url(estilos2.css);
main{
    background-color:  rgb(96, 150, 204);
}

img {
    width: 20%; 
    height: auto; 
    display: flex; 
    padding: 1%;
    border-radius: 8px; 
}
h2 {
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    color: rgb(255, 255, 255);   
    text-align: center; 
}

.titulo-seccion {
    font-size: 30px;
    font-family: "Space Grotesk", sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 2vh;
    padding-bottom: 0vh;
    display: flex;
    justify-content: center;
    margin: 0%;
}